body{
    background: #f2f2f2;
}
.navbar-inverse{
    background: rgb(14, 15, 13);
    padding: 8px;
    font-size: 17px;
}
.navbar-nav{
    padding: 0 0 10px 20px;
}
.navbar-right{
    margin-right: 50px;
}